@import '../globals/colors.scss';

#topNavBarContainer {
  display: flex;
  position: sticky;
  top: 0;
  height: 3em;
  border-bottom: 1px solid $normalGrey;

  .noTextDeco {
    text-decoration: none;
  }

  .menuButton {
    font: bold;
    color: grey;
    cursor: pointer;
    padding: 1em;
  }
}
